.form {
    border: 1px solid $text;
    background-color: $descblock;
    padding: 0 1rem;

    &.transparent {
        border: 0;
        background: transparent;
    }
    
    > * {
        display: block;
        margin: 1rem 0;
    }
    label span {
        display: block;
    }
    .error {
       color: $d-dark;
    }
}

.button {
    border: 0;
    background: $header-footer;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.danger {
        background: $danger;
    }
}