.image-list{
    width: 100%;
    .image-container {
        border: 1px solid $text;
        background-color: $descblock;
        display: flex;
        align-items: stretch;
        margin: 1rem auto;
        .thumb-container {
            border-right: 1px solid $text;
            height: 200px;
            a {
                display:inline-block;
                height: 200px;
                img {
                    // TODO use proper thumbnail images
                    max-height: 200px;
                }
            }
        }
        .description {
            width: 100%;
            padding: 0 1rem;
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .edit {
                margin-bottom: 1rem;
            }
        }
    }
}