header {
  background-color: #bea36c;
  border-bottom: 1px solid #0e0800;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav {
  padding: 0 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header ul {
  padding: 0;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
}

header ul li a {
  text-decoration: none;
}

footer {
  font-size: small;
  background-color: #bea36c;
  border-top: 1px solid #0e0800;
  margin-top: auto;
  padding: 1rem;
}

.form > * {
  display: block;
  margin: 1rem 0;
}

.form label span {
  display: block;
}

.intro {
  text-align: center;
  background-color: #fcf9f1;
  border: 1px solid #0e0800;
  margin: 1rem auto;
}

.image-list {
  width: 100%;
}

.image-list .image-container {
  border: 1px solid #0e0800;
  background-color: #fcf9f1;
  display: flex;
  align-items: stretch;
  margin: 1rem auto;
}

.image-list .image-container .thumb-container {
  border-right: 1px solid #0e0800;
  height: 200px;
}

.image-list .image-container .thumb-container a {
  display: inline-block;
  height: 200px;
}

.image-list .image-container .thumb-container a img {
  max-height: 200px;
}

.image-list .image-container .description {
  width: 100%;
  padding: 0 1rem;
  font-size: 0.9rem;
}

.user-list {
  background-color: #fcf9f1;
  border: 1px solid #0e0800;
  margin: 1rem auto;
  padding: 1rem;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0e6cb;
  color: #0e0800;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  flex-grow: 1;
  padding: 1rem;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

a {
  color: #0a74ae;
}

